@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --dark-brown-color: #222222;
  --iron-color: #282829;
  --light-brown-color: #a4907d;
  --dark-dune-color: #d5c9be;
  --oceanic-color: #38535d;
  --beige-color: #efcfad;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--oceanic-color);
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: var(--oceanic-color);
  color: white;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-dune-color) var(--iron-color);
}

body {
  position: relative;
  color: white;
}

a {
  text-decoration: none;

  &:visited,
  &:link {
    color: white;
  }

  &:focus-visible {
    outline: 2px solid var(--dark-dune-color);
    outline-offset: 2px;
  }
}
h1 {
  font-size: clamp(2rem, 5vw, 6.5rem);
  font-family: "Prata", serif;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: clamp(1.5rem, 2vw, 3.5rem);
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

.text-emphasis {
  font-family: "Prata", serif;
  font-size: clamp(1.2rem, 2vw, 2.7rem);
}
.order-btn {
  cursor: pointer;
  background-color: white;
  width: fit-content;
  padding: clamp(1rem, 2.5vw, 2rem) clamp(1rem, 4vw, 3.8rem);
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Arimo", sans-serif;
  transition: all 0.2s;

  &:link,
  &:visited {
    color: var(--dark-brown-color);
  }

  &:hover {
    background-color: var(--beige-color);
  }
  &:focus {
    outline: 2px solid var(--dark-dune-color);
  }
}
.underline-hover {
  position: relative;
}
.underline-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--dark-dune-color);
  transition: all 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
}
.underline-hover:hover::after {
  width: 100%;
}

/* HEADER */

.header-mobile {
  display: none;
}
.header-mobile.open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 100%;
  padding: 2.5rem clamp(2rem, 5.5vw, 12rem);
  box-shadow: 0 0.3rem 0.5rem black;
}
.header-mobile__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  font-size: 1.8rem;
  margin-top: 1rem;
}
.header-mobile__links li {
  cursor: pointer;
}
.header-btn-mobile {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: transparent;
  width: 100%;
  padding: 2.5rem clamp(2rem, 5.5vw, 12rem);
  transition: all 0.2s;
}
.header.scrolled {
  width: 100%;
  background-color: #1b1b1b;
  box-shadow: 0 0.3rem 0.5rem #161616;
}
.header__wrapper {
  display: flex;
  gap: clamp(2rem, 4vw, 12rem);
}
.logo {
  font-family: "Prata", serif;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2.5vw, 2.6rem);
}
.header__links {
  display: flex;
  align-self: center;
  list-style: none;
  gap: 2rem;
  font-family: "Arimo", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

/* HERO SECTION */

.hero-section {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: var(--dark-brown-color);
}
.hero-section__info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 60%;
  padding: 0 clamp(2rem, 5.5vw, 12rem);
  padding-top: 14.5%;
  padding-bottom: 2.5rem;
}
.hero-section__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}
.hero-section__info-bullets {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.hero-section__info-bullets li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding-left: 4rem;
  font-family: "Arimo", sans-serif;
}
.hero-section__info-bullets li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("ul-tick.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

/* BRAND FACTS SECTION */

.brand-facts-section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding: 6rem 0;
  width: 100%;
  background-color: var(--iron-color);
}
.brand-facts-section__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand-facts-section__middle-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;
}
.brand-facts-section__list {
  list-style: none;
}
.brand-facts-section__list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  line-height: 140%;
  padding: 3rem 0;
  padding-left: 5rem;
  font-family: "Arimo", sans-serif;

  &:not(:last-child) {
    border-bottom: 1px solid #55565a;
  }
}
.brand-facts-section__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("ul-tick-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.5rem;
  height: 3.5rem;
}
.btn--brand-facts {
  width: 100%;
}

/* FORM SECTION */

.form-section {
  background-color: var(--iron-color);
  padding: 0 clamp(2rem, 5.5vw, 12rem);
  padding-bottom: 6rem;
}
.form {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 1.8rem;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 55%;
  color: var(--iron-color);
  padding: 4rem clamp(2rem, 4.5vw, 10rem);
}
.form__heading {
  color: var(--oceanic-color);
  font-family: "Prata", serif;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}
.form__input {
  border: 2px solid #d6d6d6;
  padding: 1.3rem 2rem;
  border-radius: 0.3rem;
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
  color: var(--iron-color);
  transition: all 0.15s;

  &:focus {
    outline: 2px solid var(--oceanic-color);
    outline-offset: 3px;
  }
}
.form__check-row {
  font-size: 1.5rem;
  font-family: "Arimo", sans-serif;
  font-weight: lighter;
  padding: 1rem 0;
}
.form__checkbox {
  /* display: none; */
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.form__checkbox:checked ~ .form__check-label .form__check-btn::after {
  opacity: 1;
}
.form__check-label {
  cursor: pointer;
  position: relative;
  padding-left: 2.8rem;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}
.form__check-btn {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid var(--oceanic-color);
  border-radius: 0.3rem;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 0.2rem;
    background-color: var(--oceanic-color);
    top: 0.18rem;
    left: 0.18rem;
    opacity: 0;
  }
}
.form__img {
  background-image: url("bathroom.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
}
.form__img--girl {
  position: absolute;
  bottom: 0rem;
  right: -2%;
  height: 110%;
}

.form__btn {
  cursor: pointer;
  background-color: var(--iron-color);
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: clamp(1.5rem, 2vw, 2.8rem) 0;
  font-family: "Arimo", sans-serif;
  font-weight: lighter;
  font-size: clamp(1rem, 1.2vw + 0.5rem, 1.8rem);
  text-transform: uppercase;

  &:focus {
    outline: 2px solid var(--dark-dune-color);
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--iron-color);
}
.footer__links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: clamp(1.5rem, 4vw, 4rem);
  padding: 2rem 0;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
  font-family: "Arimo", sans-serif;
  font-weight: lighter;
  font-style: italic;
  background-color: #222222;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}
.footer__info,
.footer__terms {
  display: flex;
  justify-content: space-between;
  padding: 0 clamp(2rem, 5.5vw, 12rem);
}
.footer__info {
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__terms {
  padding-bottom: 3rem;
  font-size: 1.4rem;
}
.footer__info__socials {
  list-style: none;
  display: flex;
  gap: clamp(1rem, 2.5vw, 2rem);
}
.footer__info__socials li {
  cursor: pointer;

  svg {
    width: clamp(1rem, 5vw, 2.5rem);
    transition: transform 0.2s;
  }
}
.footer__info__socials li:hover {
  svg {
    transform: rotate(8deg) scale(1.1);
  }
}

.footer__terms__policy,
.footer__terms__terms {
  cursor: pointer;
  color: #d5c9be;
}
.btn--footer {
  font-style: italic;
  font-weight: 400;
}
/* .footer__info__logo-socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
} */

/* ADAPTABILITY */

@media (min-width: 1680px) {
  h1 {
    font-size: clamp(2.5rem, 6vw, 7rem);
  }
  h2 {
    font-size: clamp(2rem, 3vw, 4rem);
  }
  .order-btn {
    font-size: clamp(1.5rem, 2vw, 2.2rem);
  }
  .header__links {
    font-size: clamp(1.2rem, 1.8vw, 2rem);
  }
  .hero-section__info-bullets li {
    font-size: clamp(1.2rem, 2vw, 2.2rem);
  }
  .brand-facts-section__list li {
    font-size: clamp(1.2rem, 2vw, 2.2rem);
  }
  .form__input {
    font-size: clamp(1.2rem, 1.8vw, 2rem);
  }
}

@media (max-width: 1270px) {
  .hero-section__info {
    padding-top: 18%;
  }
  .brand-facts-section {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
  .form__img--bathroom {
    position: absolute;
    bottom: 0rem;
    right: -10%;
    max-width: 80%;
    height: 100%;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .form__img--girl {
    right: -8%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: clamp(2.5rem, 5.3vw, 8rem);
  }
  h2 {
    font-size: clamp(2rem, 3.5vw, 5rem);
  }
  .text-emphasis {
    font-size: clamp(1.4rem, 3.8vw, 3rem);
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }
  .header__links {
    display: none;
  }
  .logo {
    font-size: clamp(1.2rem, 5.5vw, 3rem);
  }
  .header-btn-mobile,
  .header-btn-mobile-open {
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;

    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  .hero-section__info-bullets li {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  }
  .hero-section__info-bullets li::before {
    width: 2rem;
    height: 2rem;
  }
  .hero-section__heading--br {
    display: none;
  }
  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-section__info {
    width: 100%;
    padding-top: 35%;
    margin-bottom: 3rem;
  }
  .hero-section__img {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
  }

  .brand-facts-section {
    display: flex;
    flex-direction: column;
  }
  .brand-facts-section__list li {
    font-size: clamp(1.2rem, 3vw, 2rem);
  }
  .btn--brand-facts {
    margin-bottom: 3rem;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.8rem;
  }
  .form__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    color: var(--iron-color);
    padding: 4rem clamp(2rem, 4.5vw, 10rem);
  }
  .form__heading {
    color: var(--oceanic-color);
    font-family: "Prata", serif;
    font-weight: lighter;
    margin-bottom: 1.5rem;
  }
  .form__input {
    border: 2px solid #d6d6d6;
    padding: 1.3rem 2rem;
    border-radius: 0.3rem;
    font-family: "Arimo", sans-serif;
    font-size: 1.6rem;
    color: var(--iron-color);
    transition: all 0.15s;

    &:focus {
      outline: 2px solid var(--oceanic-color);
      outline-offset: 3px;
    }
  }
  .form__img {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
  }
  .form__img--girl {
    position: absolute;
    bottom: 0rem;
    right: 0;
    height: 100%;
    max-width: 100%;
  }

  .footer__info {
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .footer__terms {
    gap: 1rem;
    flex-direction: column-reverse;
    width: fit-content;
  }
  .footer__info__socials {
    list-style: none;
    display: flex;
    gap: clamp(1rem, 2.5vw, 2rem);
  }
}

@media (max-width: 426px) {
  .footer__info__logo-socials {
    flex-direction: column;
    gap: 1rem;
  }
}
