@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.cdnfonts.com/css/arial-2");

:root {
  --dark-brown-color: #222222;
  --iron-color: #282829;
  --light-brown-color: #a4907d;
  --dark-dune-color: #d5c9be;
  --oceanic-color: #38535d;
  --beige-color: #efcfad;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-dune-color) var(--iron-color);
}

body {
  position: relative;
  color: white;
}

a {
  text-decoration: none;

  &:visited,
  &:link {
    color: white;
  }
}
h1 {
  font-size: 6.5rem;
  font-family: "Prata";
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 3.5rem;
  font-family: "Arial";
}

.text-emphasis {
  font-family: "Prata";
  font-size: 2.7rem;
  /* margin: 0 0.8rem; */
}
.order-btn {
  cursor: pointer;
  background-color: white;
  width: fit-content;
  padding: 2rem 4rem;
  border: none;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-family: "Arial";
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: transparent;
  width: 60%;
  padding: 2.5rem 12rem;
  transition: all 0.2s;
}
.header.scrolled {
  width: 100%;
  background-color: #1b1b1b;
  box-shadow: 0 0.3rem 0.5rem #161616;
}
.header__wrapper {
  display: flex;
  gap: 12rem;
}
.logo {
  font-family: "Prata";
  text-transform: uppercase;
  font-size: 2.6rem;
}
.header__links {
  display: flex;
  align-self: center;
  list-style: none;
  gap: 2rem;
  font-family: "Arial";
  font-style: italic;
  font-size: 1.5rem;
}
.header__link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--dark-dune-color);
  transition: all 0.2s;
}
.header__link:hover::after {
  width: 100%;
}

/* HERO SECTION */

.hero-section {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  background-color: var(--dark-brown-color);
}
.hero-section__info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 60%;
  padding: 0 12rem;
  padding-top: 10%;
  padding-bottom: 2.5rem;
}
.hero-section__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  /* transform: scaleX(-1); */
}
.hero-section__info-bullets {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.hero-section__info-bullets li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
  padding-left: 4rem;
  font-family: "Arial";
}
.hero-section__info-bullets li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("/assets/img/ul-tick.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

/* BRAND FACTS SECTION */

.brand-facts-section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding: 6rem 0;
  width: 100%;
  background-color: var(--iron-color);
}
.brand-facts-section__img {
  max-width: 100%;
  object-fit: cover;
}
.brand-facts-section__middle-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;
}
.brand-facts-section__list {
  list-style: none;
}
.brand-facts-section__list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.8rem;
  line-height: 140%;
  padding: 3rem 0;
  padding-left: 5rem;
  font-family: "Arial";

  &:not(:last-child) {
    border-bottom: 1px solid #55565a;
  }
}
.brand-facts-section__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("/assets/img/ul-tick-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.5rem;
  height: 3.5rem;
}
.btn--brand-facts {
  width: 100%;
}

/* FORM SECTION */

.form-section {
  height: 100vh;
  background-color: var(--iron-color);
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--iron-color);
}
.footer__links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
  font-size: 2rem;
  font-family: "Arial";
  font-style: italic;
  background-color: #222222;
  border-top: 2px solid #d5c9be;
  border-bottom: 2px solid #d5c9be;
}
.footer__info,
.footer__terms {
  display: flex;
  justify-content: space-between;
  padding: 0 12rem;
  /* flex-direction: column; */
}
.footer__info {
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__terms {
  padding-bottom: 3rem;
  font-size: 1.4rem;
}
.footer__info__socials {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer__info__socials li {
  cursor: pointer;

  svg {
    width: 2.5rem;
    transition: transform 0.2s;
  }
}

.footer__info__socials li:hover {
  svg {
    transform: rotate(8deg) scale(1.1);
  }
}

.footer__terms__policy,
.footer__terms__terms {
  cursor: pointer;
  color: #d5c9be;
}
.btn--footer {
  font-style: italic;
}
